{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "rules": {
    "comma-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
	"object-curly-newline": "off",
	"react/jsx-one-expression-per-line": "off",
	"react/jsx-wrap-multilines": "off",
	"operator-linebreak": [ 1, "after", { "overrides": {
		"?": "ignore",
		":": "ignore"
	}}],
	"no-tabs": "off",
	"indent": "off",
	"quotes": "off",
	"padded-blocks": "off",
	"no-trailing-spaces": "off",
	"no-multiple-empty-lines": "off",
	"react/self-closing-comp": "off",
	"react/prop-types": "off",
	"arrow-body-style": "off"
  }
}