{
  "bracketSpacing": true,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "react/jsx-max-props-per-line": [1, { "when": "always" }],
	"editor.defaultFormatter": "esbenp.prettier-vscode",
	"[javascript]": {
	  "editor.defaultFormatter": "esbenp.prettier-vscode"
	}
}
